@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* form */
    .label {
        @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium
    }

    .input {
        @apply border border-gray-200 dark:border-gray-700 dark:text-gray-300 block bg-white dark:bg-gray-800 w-full p-2 rounded-md shadow-sm
    }

    .input-error {
        @apply text-sm text-red-500 dark:text-red-400
    }

    /* nav */
    .nav-link.active {
        @apply text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500
    }
    .nav-link.unactive {
        @apply text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent
    }

    /* buttons */
    .btn-normal {
        @apply bg-gray-200 hover:bg-gray-300 dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white font-medium p-2 rounded-md
    }

    .btn-primary {
        @apply rounded-lg shadow-lg bg-gradient-to-r from-indigo-500 to-indigo-600 hover:from-indigo-400 hover:to-indigo-500 text-white font-medium p-2
    }

    .btn-outline {
        @apply p-2 rounded-md border shadow-sm border-gray-300 dark: border-gray-700 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-600 dark:hover:bg-gray-700
    }

    /* cards */
    .outer-block {
        @apply rounded shadow-lg shadow-gray-100 border border-gray-200 bg-white
    }

    .outer-block-header {
        @apply border-b border-gray-200 p-5 h-16
    }

    .outer-block-body {
        @apply p-5
    }

    .is-grid {
        @apply grid gap-5
    }

    /* cards - state box */
    .stats-box {
        @apply rounded shadow-lg shadow-gray-100 border border-gray-200 bg-white p-5 h-28
    }

    .stats-box .title {
        @apply pb-3 text-xs lg:text-sm font-medium opacity-80
    }

    .stats-box .value {
        @apply text-xl lg:text-3xl font-bold leading-none
    }
}
